@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="card custom-card mt-4">
    <div class="card-header custom-card-header-info text-center">
        <h1 class="h3 mb-0">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                <label asp-for="Input.Email">Correo Electrónico</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>

            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-gold">Ingresar</button>
        </form>
    </div>
    <div class="card-footer text-center">
        <p>
            <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
        </p>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar una cuenta nueva</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}