@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-5">
    <h1 class="display-4 fw-bold text-gold-700">¡Bienvenido al Banco Los Patitos!</h1>
    <p class="lead text-gold-600 mt-3">Seleccione una opción para continuar</p>
</div>

<div class="container mt-5">
    <div class="row g-4 justify-content-center">

        <div class="col-12 col-md-4">
            <a href="/Comercios" class="btn btn-gold w-100 py-3 fs-5">Comercios</a>
        </div>

        <div class="col-12 col-md-4">
            <a href="/Cajas" class="btn btn-gold w-100 py-3 fs-5">Cajas</a>
        </div>

        <div class="col-12 col-md-4">
            <a href="/Bitacora" class="btn btn-gold w-100 py-3 fs-5">Bitácora</a>
        </div>

        <div class="col-12 col-md-4">
            <a href="/Sinpe/Registrar" class="btn btn-gold w-100 py-3 fs-5">Registrar SINPE</a>
        </div>

        <div class="col-12 col-md-4">
            <a href="/Configuraciones" class="btn btn-gold w-100 py-3 fs-5">Configuraciones</a>
        </div>

        <div class="col-12 col-md-4">
            <a href="/Usuarios" class="btn btn-gold w-100 py-3 fs-5">Usuarios</a>
        </div>

        <div class="col-12 col-md-4">
            <a href="/Reportes" class="btn btn-gold w-100 py-3 fs-5">Reportes Mensuales</a>
        </div>

    </div>
</div>